.App {
  text-align: center;
}
h1 {
  color:black;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color:white;
  padding:20px 0 30px 0;
}
.nav-links {
  display: flex;
  align-items: fl;
  list-style:none;
  font-size:40px;
  text-decoration: none;
}
a:link { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: underline; 
} 
.logo {
  width:300px;
  filter: invert();
}
.link {
  display:flex;
  justify-content: center;
  align-items: center;
  height:25vh;
  width:25vh;
  margin:5px;
  text-align:center;
  color:white;
  border-radius:3%;
  background-size: cover;
}
.link-text {
  color:white;
}
.link-container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  margin:60px 30px 30px 30px;
  align-items:center;
}
.hidden {
  display:none;
}

